html {
	margin: 0;
	padding:0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

h1 {
	font-family: norican;
}

p{
	font-family: averia serif libre;
}

body {
	background: lightblue;
	padding: 50px 0 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 83.5%;
}

.container {

}

header {
	text-align: center;
}

.banner {
	height: 180px;
	width: 100%;
	background-size: contain;
	background-color: whitesmoke;
}

.banner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 25px;
}

.word-form {

}
button {
	display: block;
	height: 40px;
	width: 100%;
	text-align: initial;
	border-radius: 30px;
	margin-top: .5em;
	font-family: averia serif libre;
	background-color: white;

}

.story {
	text-align: center;
	font-family: nicone;
	font-size: 2em;
}

footer {
	text-align: right;
	position: fixed;
	bottom: 0;
}











