

body {
	background-image: url(./images/big-book.jpeg);
	padding: 50px 0 0;
}




header {
	font-family: nicone;
	font-size: 2em;
	text-align: center;
}

p {
	border: 5px solid slategray;
	margin-top:  15px;
	border-radius: 25px;
	box-shadow: 10px 10px 5px rgb(68, 68, 68);
	background-color: whitesmoke;
}


.banner {
	height: 200px;
	width: 100%;
	background-color: whitesmoke;
	background-size: auto;	
	text-align: center;	
	border: 5px solid slategray;
	box-shadow: 10px 10px 5px rgb(68, 68, 68);
	border-radius: 25px;
}

.banner img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 10px;
	box-shadow: 10px 10px 5px rgb(68, 68, 68);
}

#story {
	height: 500px;
	width: 100%;
	text-align: center;
	font-family: nicone;
	font-size: 3em;
}

.navbar {
	font-family: norican;

}

.navbar img {
	height: 40px;
	width: 40px;
}


.form-control-label, .mb-4 {
	padding-left: 1em;
}











