

body {
	background: url(./images/big-book.jpeg); /* Set Background Image */
	background-color: skyblue;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%; /* make background image cover the whole element */
}




header {
	font-family: nicone; /* Set text font in header */
	font-size: 2em;
	text-align: left;
	
}




/* Create border box for banner */
.media {

	background-color: whitesmoke;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	border: 5px solid slategray;
	border-radius: 25px;
	margin-top: 2.5em;
	text-align: left;
	
}

/* Set banner image properties */
.media img {
	height: 80px;
	width: 80px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 2px solid slategray;
	border-radius: 5px;
}

/* Create border, box for story when it prints from .js */

#story {
	text-align: left;
	font-family: nicone;
	font-size: 3em;
	padding-bottom: 40px;
}

#story p {
	border: 5px solid slategray;
	margin-top:  15px;
	border-radius: 25px;
	box-shadow: 10px 10px 5px rgb(68, 68, 68);
	background-color: whitesmoke;
}



/* Footer styles */
.navbar {
	font-family: norican;

}

.navbar img {
	height: 40px;
	width: 40px;
}



.form-control-label, .mb-4 {
	padding-left: 1em;
}





